body{
	background-color: #71bf44;
}

h1 { font-family: Anton; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Anton; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Anton; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Anton; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Anton; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px; }

.logo {
    max-width: none;
    max-height: 3.125rem;
    float: right;
	margin-top: -30px;


}

.blockTitle{
	display: flex;
	margin-top: 50px;
	margin-left: 130px;
}

.pointerTitle{
	width: 50px;
	height: 50px;
	transform: rotate(320deg);
	margin-top: 23px;
}

.title{

	color: #273848;
	position: relative;
	font-size: 50px;
}

.subtitle{
	color: #3f5366;
	font-size: 25px;
	font-style: italic;
	margin-left: 190px;
	margin-top: -10px;

}

.dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #457728;
  position: absolute;
  margin: -42px 0 0 737px;
}

.dot2 {
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #457728;
  position: absolute;
  margin: -113px 0 0 1365px;
}

.line{
	border-top: 3px solid #457728;
	width: 500px;
	margin-top:37px;
	position: absolute;
	margin: -35px 0 0 752px;
}

.line2{
	border-top: 3px solid #457728;
	width: 140px;
	margin-top:-5px;
	margin-left: 7px;
	transform: rotate(330deg);
	position: absolute;
	margin: -69px 0 0 1241px;
}

.diag{
	transform: rotate(300deg);
	border-top: 3px solid #5e9c3a;
	width: 25px;
	margin-left:-18px;
	position: relative;
	display: inline-block;
}

.velobi{
    width: 300px;
}

.blockVeloBi{
	position: absolute;
	margin: 30px 0 0 1050px;
}

.littleCycle{ 
	color: #fd3c00;
	font-size: 30px;
	font-weight: bold;
	margin-top: -2px;
	margin-left: 3px;
 }

 .largeCycle{ 
	color: #fd3c00;
	font-size: 90px;
	font-weight: bold;
	margin-top: -2px;
	margin-left: 3px;
 }


